{{define "index"}}

{{template "header"}}

<div>

</div>

<div class="container articles">
{{range $val := .}}

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview article">
            <a href="/articles/{{$val.Id}}">
                <h2 class="post-title">
                    {{$val.Title}}
                </h2>

                <h3 class="post-subtitle">
                    {{$val.Category}}
                </h3>

                <h2 class="post-title">
                    {{$val.Subtitle}}
                </h2>
            </a>

            <p class="post-meta">
                Posted by <a href="/users/{{$val.Id}}">{{$val.Login}}</a> on {{$val.Created}}
            </p>
        </div>
    </div>
</div>

<hr>
{{end}}
</div>

<div class="clearfix">

</div>

</div>

{{template "footer"}}

{{end}}
